<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Published Date</th>
                    <th scope="col">Stock No</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of getData">
                    <td>{{i.Id}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.author}}</td>
                    <td>{{i.rDate}}</td>
                    <td>{{i.stock}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>